<h1>This is the scrabble-zone!</h1>
<form action='/ss_output'>

  <div class="form-group">
    <label for="word">Enter word here:</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-danger btn-lg">Go!</button>

</form>
